div.cv-style h2, div.cv-style h3 {
	margin-bottom: 1em;
	font-size: 1.6em;
}
div.cv-style ul {
	padding: 0;
	margin-top: .9em;
}
div.cv-style ul li {
	list-style: none;
	vertical-align: -1.5em;
	padding: 0;
	font-weight: bold;
	font-style: italic;
	line-height: 0;
}

div.cv-style ul li ul li  {
	font-size: 1em;
	font-weight: normal;
	bottom: 1.8em;
	position: relative;
	vertical-align: 0em;
	font-style: normal;
	padding: 0;
	margin-right: 0px;
	margin-left: 6em;
	line-height: 1.3em;
	margin-bottom: .3em;
}