body { 
		font-family : Arial;
		background-color: #E0E0E0;
		color: #000000;}
	h1,h2,h3,h4,h5,h6 {
		font-family: Arial;}
	h1 { 
		font-size: 28px;}
	h2 {
		color: #;} /* need to fix this */
	h3 {
		color: #666666;}
	h4 {
		color: #ABABAB;}
	.headertext {
		visibility:visible; }
	.headertext h1 a {
		color: #666666; }
	.container {
		background-color: #ffffff;
		color: #000000;}
	.container p {
		color: #000000; }
	a:active  {
		color: #666666; }
	a:hover  {
		color: #666666; }
	#content {
		font-family : Arial; }
	.title {
		font-family : Arial;}
	.nav, .widgettitle {
		font-family : Arial; 
		text-transform:none;}
	div.nav a {
			color: #ABABAB;}
	.nav a:active {
		color: #666666;}
	.nav a:hover {
		color: #666666;}
	div.notable-post {
		color: #000000;}
	div.notable-post h3 a, link {
		color: #666666;}
	div.notable-post a {
		color: #ABABAB;}
	div.notable-post a:hover {
		color: #666666;}
	#sidebar h2.widgettitle {
		color: #ABABAB;}
	#content {
		color: #000000; }
	#links{
		color: #666666;}
	#links h1, h2 {
		color: #666666;}
	#links ul {
		color: #ABABAB;}
	#links ul li {
		color: #ABABAB;}
	#links ul li ul {
		color: #ABABAB;}
	#links a {
		color: #ABABAB;}
	#links a:hover {
		color: #666666;}
	div.prevnext{
		text-transform:none;}
	div.prevnext a:hover {
		background-color: #666666;}
	div.footer {
	background-color: #E0E0E0;}
	}