/*   
Theme Name: WPFolio Child Theme
Theme URI: 
Description: My changes to the WPFolio Theme.
Author: You	
Author URI: http://yourwebsite.com/about
Template: WPFolio
Version: 0.1
Tags: WPFolio
.
WPFolio is free and open source under the GNU Public License
http://wpfolio.visitsteve.com
.
*/

@import url('../wpfolio/style.css');

/* HEADER IMAGE example */
/* 
div#header {
	background: url(images/dummy-header.png) 0 center;
	height: 105px;
}
div.headertext {
	margin-left: 120px;
}
*/

/* add your changes below this line */